.cyber {
	background: #212121;
}

.cyber h1 {
	text-transform: uppercase;
	position: relative;
}

.cyber h1 > span {
	color: #FF0000;
	text-shadow: 0px 0px 12px rgba(255, 0, 0, 1);
}

.cyber h1 > span:hover {
	animation: neon 3s linear;
}

.cyber #menu {
	background-color: rgba(41, 41, 41, 0.9);
}

.cyber #menu > ul > li > a, .cyber p, .cyber .top-icons ul li a, .cyber #menu-btn, .cyber .bottom-icon {
	color: #FF0000;
	text-shadow: 0px 0px 6px rgba(255, 0, 0, 0.8);
}

.cyber #loader {
	background-color: #212121;
}

.cyber #loader .dot {
	width: auto;
    height: auto;
    border: none;
    border-radius: 0;
    animation: none;

    animation: neon 3s linear infinite;
}

.cyber #loader .dot:after {
	content: 'initializing';
	color: #FF0000;
	text-shadow: 0px 0px 20px rgba(255, 0, 0, 0.8);
}

.particle {
	position: absolute;
	top: 0;
	left: 0;
	width: 5px;
	height: 5px;
	border-radius: 50%;
	background-color: #FFF;
	opacity: 0;
	box-shadow: 0px 0px 10px #FFF;
}