:root {

	--primary-color: #58bf43;
	--primary-text-color-alt: #0c4401;

	--white: #FFF;
	--black: #000;

	--yellow: #FFB900;
	--green: #009310;

	--rotate: rotate(0);

	font-size: 1.1rem;
}

html {
	scroll-behavior: smooth;
}

body {
	background-color: var(--white);
	color: var(--black);
	margin: 0;

	font-family: 'YoungSerif';
}

/* Animation  */
@keyframes textScrollAnimation {
	0% {
		transform: translate3d(0, 0, 0);
	}
	100% {
		transform: translate3d(-100%, 0, 0);
	}
}

@keyframes fillerBounce {
	0% {
		transform: scale(1.0) var(--rotate);
	}
	50% {
		transform: scale(1.2) var(--rotate);
	}
	100% {
		transform: scale(1.0) var(--rotate);
	}
}

@keyframes carouselAnim {
	to {
		visibility: visible;
		left: 0;
		transform: scale(1);
	}
}

.fg-1 {
	flex-grow: 1;
}

.button {
	border: 2px solid var(--black);
	padding: 5px 25px;
	border-radius: 50px;
	box-shadow: -2px 2px var(--black);

	background-color: var(--white);

	transition: transform .2s;

	text-decoration: none;

	display: flex;
	flex-direction: row;
	gap: .5rem;
	align-items: center;

	color: var(--black);
}

.button:hover {
	transform: scale(1.1);
}

.filler-container {
	position: relative;
	width: fit-content;
	height: fit-content;
}

.highlight-text {
	color: var(--yellow);
	font-weight: bold;
}

/* Navbar  */
.navbar {
	width: 100%;
	display: flex;
	flex-direction: row;

	justify-content: space-between;
  	align-items: center;

  	position: sticky;
  	top: 0;
  	left: 0;

  	background-color: var(--white);
  	z-index: 99;

  	font-family: 'Nunito';
}

.navbar .navigation {
	display: none;
	position: fixed;
	top: 70px;
	left: 0;
	width: 100vw;
	height: calc(100vh - 70px);

	flex-direction: column;
	justify-content: center;

	/*background-color: var(--white);*/

	gap: 30px;
}

.navbar .navigation::before {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: var(--white);
}

.navbar .navigation .nav-link {
	position: relative;
	font-size: 2rem;
	text-decoration: none;
	color: var(--black);
	text-align: center;
}

.navbar .nav-logo {
	font-family: 'Typefesse';
	text-decoration: none;
	color: var(--black);
	font-size: 2.5rem;
	margin: 0;

	padding-left: 20px;

	cursor: pointer;
}

.navbar .nav-menu-group {
	display: flex;
	flex-direction: row;
}

.navbar .mobile-menu-btn {
	border: 0;
	margin: 0;
	background-color: transparent;
	text-decoration: none;
	color: var(--black);

	font-size: 1.5rem;
	margin-right: 20px;
}

.navbar .navbar-contact {
	cursor: pointer;
	text-decoration: none;
	font-size: 1.5rem;
	color: var(--black);

	margin-right: 15px;
}

.navbar-title {
	font-family: 'Archivo Black';
	text-transform: uppercase;
}

.navbar-title::first-letter,
.navbar-title > .first-letter {
	font-family: 'Typefesse';
}

.offcanvas.offcanvas-end {
	width: 80%;
}

/* Main Section  */
.main-section {
	overflow: hidden;
	height: calc(100vh - 60px - 53px);
	padding: 20px;

	margin-bottom: 30px;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.main-section .main-title {
	position: relative;
	margin: 0;
	font-family: 'Archivo Black';
	font-size: 5.5rem;
	font-weight: normal;
	text-transform: uppercase;
	line-height: .8;
	text-align: center;
}

.main-section .filler-container .title-bg-filler {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	width: 140%;
	height: 140%;
	z-index: -1;
}

.main-section .filler-container .title-filler-1 {
	position: absolute;
	top: -30px;
	left: -50px;
	width: 80px;
	height: 80px;
	transform: var(--rotate);

	animation: fillerBounce 2s linear infinite;
}

.main-section .filler-container .title-filler-2 {
	position: absolute;
	bottom: -30px;
	right: -30px;
	width: 60px;
	height: 60px;
	transform: var(--rotate);

	animation: fillerBounce 2s linear infinite;
	animation-delay: 1s;
}

.main-section .main-title::first-letter, 
.main-section .main-title > .first-letter {
	font-family: 'Typefesse';
}

.main-section > .main-description {
	position: relative;
	font-size: 2rem;
	margin: 0;
	padding-top: 20px;

	text-align: center;
}

.main-section #info-animated-box {
	position: relative;
	display: inline-block;
	overflow: hidden;
	vertical-align: bottom;
}

.main-section #info-animated-text {
	width: 100%;
	display: block;
	text-align: center;
}

.main-section .scrolling-banner {
	width: 100%;
	overflow: hidden;
	position: absolute;
	bottom: 0;
	left: 0;
	background: #1a9b00;
	white-space: nowrap;
}

.main-section .scrolling-banner > .scrolling-text {
	font-size: 1.1rem;
	margin: 0;
	padding: 5px;

	display: inline-block;

	animation: textScrollAnimation 5s linear infinite;

	color: #ffb900;
	text-decoration: unset;
}

.main-section .scroll-button {
	text-decoration: none;
	font-family: 'YoungSerif';
	position: absolute;
	bottom: 80px;
	right: 50%;
	transform: translate(50%, 0);

	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 6px;

	margin: 0;
	background-color: transparent;
	border: none;

	color: var(--black);

	font-size: 1.2rem;
	cursor: pointer;
}

.main-section .scroll-button > .icon {
	font-size: 2rem;
}

/* About Section */
.about-section {
	padding: 30px 10px;
}

.about-section .container-fluid {
	border-radius: 50px;
	background-color: #ef4353;
	color: var(--white);

	padding: 60px 10px;

	display: flex;
	flex-direction: column;
}

.about-section .flex-container-about {
	display: flex;
	flex-direction: column-reverse;
	justify-content: space-evenly;
	gap: 20px;
}

.about-section .title {
	position: relative;
	font-size: 4rem;
	margin: 0;
}

.about-section .title:after {
	content: '';
	position: absolute;
	bottom: -5px;
	left: -60px;
	width: 50px;
	height: 50px;

	background-image: url('../images/star.svg');
	background-size: contain;

	animation: fillerBounce 2s linear infinite;
}

.about-section .title:before {
	content: '';
	position: absolute;
	top: -15px;
	right: -50px;
	width: 50px;
	height: 50px;

	background-image: url('../images/star.svg');
	background-size: contain;

	animation: fillerBounce 2s linear infinite;
	animation-delay: 1s;
}

.about-section .title-2 {
	font-size: 3rem;
	margin: 0;
}

.about-section .contact-me {
	display: flex;
	flex-direction: row;
	justify-items: center;
	gap: 5px;
	margin-top: 20px;
	font-size: 1.2rem;
	text-decoration: none;
	color: var(--black);
}

.about-section .contact-me > i {
	font-size: 1.5rem;
}

.about-section .text {
	font-size: 1.2rem;
	margin: 10px;
	font-family: "Nunito", sans-serif;
}

.about-section .description, .about-section .image {
	width: 100%;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	gap: 20px;
}

.about-section .image  img {
	width: 80%;
}


/* Experiences */
.experiences-section {
	margin-top: 80px;
	padding: 30px 10px;
}

.experiences-section .title, .projects-section .title{
	position: relative;
	font-size: 3rem;
}

.experiences-section .title::before {
	content: '';
	position: absolute;
	top: -25px;
	left: -110px;
	width: 200px;
	height: 200px;

	background-image: url('../images/flower-yellow.svg');
	background-size: contain;

	z-index: -1;
}

.experiences-section .box {
	padding: 20px;
	border-radius: 20px;
	background-color: rgb(88, 191, 67);
	color: #FFF;
	font-size: 1.1rem;

	font-family: "Nunito", sans-serif;
}

.experiences-section .box-alt{
	background-color: rgb(244, 244, 244);
	color: #000;
}

.experiences-section .box .box-title {
	color: rgb(12, 68, 1);
	font-weight: bold;
}

.experiences-section .box-controller {
	margin-top: 30px;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 30px;
}

.experiences-section .box-controller button {
	background: transparent;
	border: 0;
	padding: 0;
	color: rgb(29, 185, 84);
}

.experiences-section .box-controller i {
	font-size: 2.5rem;
}

.experiences-section .box-controller .counter-label {
	font-family: "Nunito", sans-serif;
	font-size: .8rem;
	opacity: .5;
}


.experiences-section .carousel-inner {
	overflow: visible;
}

.experiences-section .carousel {
	margin-top: 60px;
}

.experiences-section .carousel-item {
	width: 100%;
	height: 350px;
	transition: none;
	visibility: hidden;
	display: block;
}
.experiences-section .carousel-item.active {
	transition: none;
	animation-name: carouselAnim;
  	animation-duration: 1s;
  	animation-fill-mode: forwards;
}

.carousel-next-item {
	visibility: visible !important;
	left: 120px;
	transform: scale(.8);
	z-index: -1;
}

/* Projects Section */
.projects-section {
	margin-top: 90px;
}

.projects-section .title svg {
	position: absolute;
	z-index: -1;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.projects-section .project-container {
	display: flex;
	flex-direction: column;
	margin-top: 4rem;
}

.projects-section .project-container .content {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.projects-section .project-container .title {
	font-size: 2rem;
}

.projects-section .text {
	font-family: "Nunito", sans-serif;
}

.projects-section .project-button {
	color: var(--black);
	text-decoration: none;
	width: fit-content;
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: .5rem;
}

.projects-section .project-button i {
	font-size: 1.5rem;
}


/* Contact Section */
.contact-section {
	margin-top: 90px;
	margin-bottom: 60px;
}

.contact-section .title {
	position: relative;
	font-size: 3rem;
}

.contact-section .title img {
	position: absolute;
	z-index: -1;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 13rem;
}

.contact-section .description {
	margin-top: 1.5rem;
	font-family: "Nunito", sans-serif;
}

.contact-section .contact-buttons {
	margin-top: 2rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1.5rem;
}

.contact-section .contact-button {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 8px;
	width: fit-content;
	text-decoration: none;

	background-color: var(--primary-color);
	color: var(--black);
}

.contact-section .contact-button i {
	font-size: 1.5rem;
}

/* Contact Modal */
.modal-header {
	border-bottom: none;
}

.modal-body {
	font-size: 1.2rem;
}

.modal-footer {
	border-top: none;
	justify-content: center;
}